th,
td {

    font-size: 13px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    min-width: 10px;
    max-width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.size_full {
    width: 40%;
}
.size_full1 {
    width: 25%;
}

.size_min {
    width: 5%;
}

.size_min1 {
    width: 4%;
}

.size_midi {
    width: 11%;
}

.size_midi1 {
    width: 7%;
}

.size_midi1 {
    width: 8%;
}


.shortened::after {
    content: attr(data-full-id);
    position: absolute;
    white-space: nowrap;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
    left: 50%;
    bottom: 150%;
    transform: translateX(-50%);
}

.shortened:hover::after {
    opacity: 1;
}

.center-content {
    text-align: center;
}